<section>
<h2 id="artleft">About Us</h2>

<article>
<h2>The Backstory</h2>
<p>My uncle buys and sells things on eBay as his full time job, however, he was suspended/banned from eBay for breaking community regulations on having multiple accounts, he had a 250 point "good reputation" and 3 negative reputation points, however this is not about that...</p>
<p>
Since my uncle got banned from eBay, I have decided to give him my old eBay account to continue selling, we decided to set up a business, 50/50. The other day we tried selling stuff on a marketplace instead of using eBay or the internet, to no avail and minor profits we decided to drop any idea of that and go for selling on eBay, which though it's risky due to his previous bans.</p>
<p>
His apartment is full of stuff, he buys retro junk a/k/a "antiques" or anything he believes can make a profit. For the past two weeks his apartment bedroom has been full of this stuff and he's been sleeping on the sofa. Today I found out that nothing has changed and he still doesn't have access to his bedroom due to the amount of stuff.</p>
</article>

<article>
<h2>Updates</h2>
<p>I spoke with him yesterday and we arranged that he'd take the photos, send them to me, I'd list the item, he'd ship the item when needed. However apparently that has changed, I will take the photos, list the item and package and send the item while he goes and looks for more "stock" i.e. shopping around. </p>
<p>Ipsum lurum hurum turum ipsum lurum hurum turum
ipsum lurum hurum turum ipsum lurum hurum turum.</p>
<p>Ipsum lurum hurum turum ipsum lurum hurum turum
ipsum lurum hurum turum ipsum lurum hurum turum.</p>
</article>

</section>
