
<h2><b>Contact</b></h2>
<hr>
<div id="contact">
  <p>Ph: 312-WHA-TEVA</p>
  <p>Fx: 312-HEL-YEAH</p>
  <p>Email:itsforsale@gmail.com</p>
</div><br>

<section>


<article>Please fill out:<br>
  <input type="text" placeholder="name"><br>
  <br>
  <input type="text" placeholder="email">
  <br><br>
  <input type="text" placeholder="phone number"><br>
  <br>

<textarea cols="50" rows="4" placeholder="comment"></textarea>

  <br><br>
<input type="submit" value="Submit">

</article>

</section>
