
<h2>Contact ME</h2>


<input type="button" placeholder="your name">
<input type="button" placeholder="your phone number">
<input type="button" placeholder="your email">
<input type="button" placeholder="your message">

<button>Submit</button>
