<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>it's for sale, yes it's for sale</title>
  </head>
  <body>

    <header>
      <h1>ITS4SALE BECAUSE ITS FOR SALE!</h1>
    </header>
    <nav>about products services contact</nav>
    <hr>


    <%= yield %>



  <hr>
  <footer> &copy; 2015 All rights reserved for the publication of this unrealness
</footer>
  </body>
</html>
