
<section>
<h2>Services</h2>

<article>
<h2>CONSIGNMENT WITH US</h2>
<p>Selling your collection can be time consuming and frustrating. You have items you want to move, but you don't have the time to take detailed pictures for online auctions or classified websites. You don't want to manage and operate your own web store, or engage in back-and-forth price negotiations that go nowhere. And you don't really have the patience for collecting packing slips and boxes to carry product out to mail carriers</p>
<p>We do all of that for you at its4sale. You can bring your prized collection to either of our five stores in Chicago or arrange the 80/20 consignment relationship at its4sale@gmail.com, and we handle the rest entirely. We shoot detailed images of your collection, store safely, and make them available to the thousands of daily customers browsing our retail locations and the international shoppers searching our site for the exact items in your possession. </p>
<p>Consigning with its4sale is the simplest way to move your prized collection, and be paid for it without actively participating in the selling process.</p>
</article>

<article>
<h2>Let's show how it works</h2>
<p><ul>
  <li>1. You bring us, or send us, your stuff.</li>
  <li>2. We help you determine your sale prices in accordance with reasonable market values using our experience and extensive data.</li>
  <li>3. We sell your stuff online, and in our Chi-town stores.</li>
  <li>4. You receive a check for 80% of the final sale price once your stuff sell. International consignors receive wire transfers. Our commission is 20%.</li>
</ul></p>
<p>Ipsum lurum hurum turum ipsum lurum hurum turum
ipsum lurum hurum turum ipsum lurum hurum turum.</p>
<p>Ipsum lurum hurum turum ipsum lurum hurum turum
ipsum lurum hurum turum ipsum lurum hurum turum.</p>
</article>

</section>
